body {
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  /*height: 100vh;*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  body {
    animation: backimg infinite 2s steps(1, start);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    scale: 2;
  }
}

@keyframes backimg {
  0% {
    background: url("image/shinyhaed.png");
  }
  50% {
    background: url("image/bombberjoo.png");
  }
  100% {
    background: url("image/bombberjoobg.png");
  }
}

