ul.menu{
  list-style: none;
}

ul.menu li{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
}

ul.menu li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul.menu li:hover{
  background-color: darkcyan;
  box-shadow: 5px 5px 5px gray;

}

ul.menu li a:hover{
  color: aliceblue;
}

div.login{
  margin:100px 100px;
  border: 5px solid gray;
  width:320px;
  border-radius: 10px;
}


body {
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  /*height: 100vh;*/
  pointer-events: none;
}

.joo {
  position: absolute;
  left: 0;
  top: 50%;
}

.zero {
  margin: 70px 0 70px 0;
}

.sickhomin {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  body {
    /*animation: backimg infinite 2s steps(1, start);*/
  }

  .joo {
    animation: jooinout infinite 5s linear;
  }

  .zero {
    animation: xMove infinite 1s linear;
  }

  .sickhomin {
    animation: hominMove infinite 3s ease-out ;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    scale: 3;
  }
}

@keyframes backimg {
  0% {
    background: url("image/shinyhaed.png");
  }
  50% {
    background: url("image/bombberjoo.png");
  }
  100% {
    background: url("image/bombberjoobg.png");
  }
}

@keyframes jooinout {
  0% {
    transform: rotate(90deg) translateY(30vmin);
  }
  25% {
    transform: rotate(90deg) translateY(5vmin);
    animation-timing-function: steps(1);
    animation-duration: 2.5s;
  }
  50%{
    transform: rotate(90deg) translateY(5vmin);
  }
  100%{
    transform: rotate(90deg) translateY(30vmin);
  }
}

@keyframes xMove {
  0% {
    transform: translateX(15vmin) scale(1.5);
    opacity: 1;
  }
  25%{
    transform: translateX(1vmin) scale(1);
    opacity: 0.5;
  }
  50%{
    transform: translateX(-15vmin) scale(1.5);
    opacity: 1;
  }
  75%{
    transform: translateX(1vmin) scale(1);
    opacity: 0.5;
  }
  100%{
    transform: translateX(15vmin) scale(1.5);
    opacity: 1;
  }
}

@keyframes hominMove {
  0% {
    transform: translate(16vmin,-8vmin) rotate(5deg);
  }
  10%{
    transform: translate(8vmin, -12vmin) rotate(-5deg);
  }
  20%{
    transform: translate(12vmin, -6vmin) rotate(5deg);
  }
  30%{
    transform: translate(4vmin, -10vmin) rotate(-5deg);
  }
  40%{
    transform: translate(10vmin, -4vmin) rotate(5deg);
  }
  50%{
    transform: translate(2vmin, -8vmin) rotate(-5deg);
  }
  60%{
    transform: translate(8vmin, -2vmin) rotate(5deg);
  }
  70%{
    transform: translate(0vmin, -6vmin) rotate(-5deg);
  }
  80%{
    transform: translate(6vmin, -0vmin) rotate(5deg);
  }
  90%{
    transform: translate(-2vmin, -4vmin) rotate(-5deg);
  }
  100%{
    transform: translate(4vmin, -2vmin) rotate(5deg);
  }
}


